<div id="mobile_top_bar">
  <img class="logo" src="https://yt3.ggpht.com/-XA-J6rK6bso/AAAAAAAAAAI/AAAAAAAAAAA/HAMrOb-2-7o/s900-c-k-no/photo.jpg" alt="Contactually Logo" />
  <img id="hamburger" src="http://dev.familyadventurevacations.net/images/hamburger.png" />
</div>
<div id="mobile_dropdown">
  <div class="import_toggle">Import Contacts</div>
  <div class="show_contacts_toggle">View Contacts</div>
</div>
<div id="top_bar">
  <img class="logo" src="https://yt3.ggpht.com/-XA-J6rK6bso/AAAAAAAAAAI/AAAAAAAAAAA/HAMrOb-2-7o/s900-c-k-no/photo.jpg" alt="Contactually Logo" />
  <div class="import_toggle">Import Contacts</div>
  <div class="show_contacts_toggle">View Contacts</div>
</div>
<div id="welcome_container">
  <h1 class="welcome">Welcome to Contactually</h1>
  <h4 class="welcome">Contactually is the simple, effective way to get more from your network.</h4>
  <a href="http://www.contactually.com/signup/begin"><div class="free_trial">START YOUR FREE 30-DAY TRIAL</div></a>
  <h6>No credit card required.</h6>
</div>

<div id="import_container">
  <h1 class="import">Import Contacts</h1>
  <div class="form_upload">
    <%= form_tag upload_contacts_path, multipart: true do %>
      <%= file_field_tag :upload %>
      <%= submit_tag "Upload" %>
    <% end %>
  </div>
</div>

<div id="contacts_container">
  <h1 class="your_contacts">Your Contacts</h1>
  <div class="search_bar"><input id="search_input" type="search" placeholder="Search..."></div>
  <div id="only_show">
    <div class="only_show_title">Only Show</div>
    <div id="international" class="unselected">International #s</div>
    <div id="extension" class="unselected">#s w/ Extension</div>
    <div id="email_com" class="unselected">Emails w/ .com</div>
  </div>

  <div id="sort_by">
    <div class="sort_by_title">Sort By</div>
    <div id="sort_first_name" class="unselected">First Name</div>
    <div id="sort_last_name" class="unselected">Last Name</div>
    <div id="sort_email" class="unselected">Email</div>
  </div>

  <% if @contacts.length == 0 %>
    <h1>No Contacts Yet! Upload Some!</h1>
  <% else %>
    <div id="contacts_list">
      <% @contacts.each do |contact| %>
        <div class="contact_row">
          <div class="delete"><i class="fa fa-trash-o"></i></div>
          <div class="contact_id" style="display:none"><%=contact.id%></div>
          <div class="first_name"><%=contact.first_name%></div>
          <div class="last_name"><%=contact.last_name%></div>
          <div class="email"><%=contact.email_address%></div>
          <div class="phone_number"><%=contact.phone_number%></div>
          <div class="company_name"><%=contact.company_name%></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
